.kpi-box {
    background: #fff;
}


.kpi-box:hover {
  /* transform: scale(1.03); */
  cursor: pointer;
}

.o_lerm_dashboard {
    padding: 16px;
}

.o_kpi_container {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.o_kpi_box {
    background: #f3f6fa;
    border-radius: 8px;
    padding: 12px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.o_kpi_label {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.o_kpi_value {
    font-size: 20px;
    color: #2a6edc;
}
