.o_list_view.table-bordered {
    border: 2px solid black !important;
    border-collapse: collapse !important;
    border-bottom: none !important;
    width: 100%;
}

.o_list_view.table-bordered thead th,
.o_list_view.table-bordered tbody td {
    border: 1px solid black !important;
    padding: 7px 8px;
    background-color: white;
}

table.table-bordered.sm-table td, table.table-bordered.sm-table th {
    border: 1px solid black !important;
    padding: px px;
    font-weight: bold;
}