<odoo>
    <odoo>
    <!-- Root menu -->
    <menuitem id="menu_lab_report_root"
              name="QR Report"
              sequence="10"
              web_icon="report_qr,static/description/scan.png"
              />

    <!-- Child menu that opens the list view -->
    <menuitem id="menu_lab_report"
              parent="menu_lab_report_root"
              action="action_lab_report"
              name="Lab Reports"
              sequence="10"/>
</odoo>

</odoo>
