/* Header (column title) fix */
/* Header width fix */
.o_list_view.fix_resistivity_width th[data-name^="resistivity_"] {
    width: 250px !important;
    min-width: 250px !important;
    max-width: 250px !important;
    text-align: center; /* optional */
}

/* Cell width fix */
.o_list_view.fix_resistivity_width td.o_data_cell[data-name^="resistivity_"] {
    width: 250px !important;
    min-width: 250px !important;
    max-width: 250px !important;
    white-space: normal !important;  /* wrap होण्यासाठी */
    text-align: center; /* optional */
}


.o_list_view.fix_resistivity_width th[data-name="sr_no_label"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
    
}

.o_list_view.fix_resistivity_width td.o_data_cell[data-name="sr_no_label"] {
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
    white-space: normal !important;

}