.custom_table_borders th,
.custom_table_borders td {
    border: 1px solid #000 !important;
}

.custom_table_borders th {
    white-space: normal;
}

.nowrap_list .o_data_cell,
.nowrap_list .o_list_cell {
    white-space: nowrap;
}

.blue-input input {
    background-color: #d8ecff !important;
    border-color: #3b82f6 !important;
}
